<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/></configSections>
	<log4net>
		<!-- Appender to write to ConsoleAppender -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %level - %message%newline"/>
				<!-- conversionPattern value="%date [%logger] [%username] %level - %message%newline%exception" / -->
				<!--conversionPattern value="[%date] (%logger.%method) %level - %message%newline%exception" /-->
			</layout>
		</appender>
		<!-- Set root logger level to DEBUG and its appenders -->
		<root>
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
	<appSettings>
		<add key="Browser" value="Firefox"/>
		<add key="EnvironmentUrl" value="https://hgtestweb12.healthgrades.com"/>
		<add key="ImplicitlyWaitSeconds" value="120"/>
		<add key="BrowserResolution" value="Max"/>
		<add key="ScreenshotOnError" value="True"/>
	</appSettings>
	<connectionStrings>
		<add name="TESTDB"
			connectionString="Data Source=hgtestdb1;Initial Catalog=HealthGradesWeb;Integrated Security=False;User ID=QAAutomationUser;Password=Automate.me;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
		<add name="STAGEDB"
			connectionString="Data Source=hgstagedata;Initial Catalog=HealthGradesWeb;Integrated Security=False;User ID=QAAutomationUser;Password=Automate.me;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
	</connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit"/></specFlow></configuration>